<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Tahvel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="format-detection" content="telephone=no">
        <meta name="theme-color" content="#ffffff">
        <!-- Google Tag Manager -->
        <script>
            (function(w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start': new Date().getTime(),
                    event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0]
                  , j = d.createElement(s)
                  , dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            }
            )(window, document, 'script', 'dataLayer', 'GTM-WXPPK25');
        </script>
        <!-- End Google Tag Manager -->
        <!--script src="https://browser.plumbr.io/pa.js" crossorigin="anonymous"
    data-plumbr='{"accountId":"PLUMBR_ACCOUNT_ID",
                "appName":"PLUMBR_APP_NAME","serverUrl":"https://bdr.plumbr.io"}'>
  </script-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/vendor.ed5daa6e.css">
        <link rel="stylesheet" href="styles/main.0a482847.css">
    </head>
    <body ng-app="hitsaOis" layout="row" ng-controller="MainController" ng-cloak>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXPPK25" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        ​ 
        <div id="main-wrapper" tabindex="-1" style="background: #{{state.currentUser.color}}!important">
            <md-toolbar id="main-toolbar" ng-if="showNavigation" role="banner">
                <button id="skip-to-content-button" ng-click="focusMainContent()" aria-label="{{ 'main.skipToContent' | translate }};">{{ "main.skipToContent" | translate }}</button>
                <div flex layout="row" layout-align="start center">
                    <a id="main-menu-button-wrapper">
                        <md-button id="main-menu-button" ng-click="toggleSidenav()" class="md-icon-button" aria-label="{{'main.aria.navMenuButton' | translate}};" aria-expanded="true">
                            <md-icon>menu</md-icon>
                        </md-button>
                    </a>
                    <div id="toolbar-logo">
                        <div ng-if="!productionEnvironment" class="testing-environment-sign">TEST</div>
                        <a ng-href="#/">
                            <img ng-style="state.logo ? '' : {'max-width': '150px'}" ng-src="{{state.logo ? state.logo : 'images/harno_logo.bbfe4e93.png'}}" on-error-src="images/harno_logo.bbfe4e93.png" alt="school logo; link to front page;" aria-label="{{'main.aria.logo' | translate}};">
                        </a>
                        <div ng-if="!productionEnvironment" class="testing-environment-sign">TEST</div>
                    </div>
                    <div id="breadcrumb-wrapper" tabindex="-1" layout-align="start center">
                        <span ng-show="!state.currentUser && !Menu.currentPage && !Menu.currentSection" hide-lt-lg>{{'main.board' | translate}}</span>
                        <span ng-if="Menu.currentPage.name !== Menu.currentSection.name" hide-lt-lg>
                            <span hide-lt-lg>{{Menu.currentSection.name | translate}}</span>
                            <md-icon>chevron_right</md-icon>
                        </span>
                        <span hide-lt-md>{{Menu.currentPage.name | translate}}</span>
                    </div>
                </div>
                <div layout-align="end center" ng-controller="LoginController" layout="row" flex>
                    <div id="lang-buttons" md-colors="{color: 'background-500'}" layout="row">
                        <md-button ng-class="{'md-primary': currentLanguage()=='et'}" ng-click="changeLanguage('et')" aria-label="{{'main.aria.languageEst' | translate}};">{{ 'main.language.et' | translate }}</md-button>
                        <md-button ng-class="{'md-primary': currentLanguage()=='en'}" ng-click="changeLanguage('en')" aria-label="{{'main.aria.languageEng' | translate}};">{{ 'main.language.en' | translate }}</md-button>
                    </div>
                    <div id="lang-buttons-mobile">
                        <md-button ng-click="currentLanguage()=='et' ? changeLanguage('en') : changeLanguage('et')" aria-label="{{'main.aria.languageChange' | translate}};" md-colors="{color: 'background-500'}">
                            <span ng-class="{'md-primary': currentLanguage()=='et'}">{{ 'main.language.et' | translate }}</span>
                            <span ng-class="{'md-primary': currentLanguage()=='en'}">{{ 'main.language.en' | translate }}</span>
                        </md-button>
                    </div>
                    <md-menu id="help-menu" md-position-mode="target bottom">
                        <md-button ng-click="$mdMenu.open($event)" aria-label="{{ 'main.aria.helpMenu' | translate }};">
                            {{ 'home.help' | translate }} <md-icon md-font-set="material-icons">arrow_drop_down</md-icon>
                        </md-button>
                        <md-menu-content id="help-menu-content">
                            <md-menu-item>
                                <md-button href="https://projektid.edu.ee/display/IS2/KASUTUSJUHENDID" target="_blank">{{ 'home.instructions' | translate }}</md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="state.currentUser.school">
                                <md-button ng-click="openSchoolContacts()">{{ 'home.schoolContacts' | translate }}</md-button>
                            </md-menu-item>
                            <!--            <md-menu-item>-->
                            <!--              <md-button href="">{{ 'home.tahvelHelp' | translate }}</md-button>-->
                            <!--            </md-menu-item>-->
                        </md-menu-content>
                    </md-menu>
                    <div ng-show="state.currentUser && state.currentUser.roleCode !== 'ROLL_X'" layout="column" layout-align="center center">
                        <md-button id="messages-button" layout="column" layout-align="center center" class="md-icon-button" ng-href="#/messages/received?_menu" aria-label="{{'main.aria.messages' | translate:{unreadMessages: (unreadMessages || '0')} }};">
                            <md-icon>email</md-icon>
                            <span ng-if="unreadMessages > 0" id="unread-messages">
                                <span ng-if="unreadMessages > 9" style="font-size: 11px">9+</span>
                                <span ng-if="unreadMessages <= 9" style="font-size: 12px">{{unreadMessages}}</span>
                            </span>
                        </md-button>
                    </div>
                    <div id="toolbar-user-section" layout="column" layout-align="end center" class="maxWidth-200" ng-show="state.currentUser">
                        <a id="user-menu-name" ng-href="#/persons/settings">{{ state.currentUser.fullname }}</a>
                        <md-menu id="user-menu" md-position-mode="right bottom">
                            <md-button id="user-menu-button" ng-click="$mdMenu.open($event)" aria-label="{{'main.aria.changeRoleMenu' | translate: {role: currentLanguageNameField(state.userWorkplaceObject)} }};">
                                {{currentLanguageNameField(state.userWorkplaceObject)}} <md-icon md-font-set="material-icons">arrow_drop_down</md-icon>
                            </md-button>
                            <md-menu-content id="user-menu-content">
                                <md-menu-item ng-repeat="user in state.currentUser.users">
                                    <md-button aria-label="{{'main.aria.changeRoleTo' | translate: {role: currentLanguageNameField(user)} }};" ng-click="setAndChangeUser(user);">{{currentLanguageNameField(user)}}</md-button>
                                </md-menu-item>
                                <hr>
                                <md-menu-item ng-if="state.currentUser.roleCode === 'ROLL_T'">
                                    <md-button href="#/students/myData">{{ 'home.myData' | translate }}</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="logout()">{{ 'main.logOut' | translate }}</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <div ng-show="!state.currentUser">
                        <div id="login-button-hitarea" ng-click="showLogin()">
                            <md-button id="login-button">
                                <span id="login-button-text">{{ 'main.logIn' | translate }}</span>
                                <md-icon>lock</md-icon>
                            </md-button>
                        </div>
                    </div>
                    <a id="mobile-menu-button-wrapper">
                        <md-button id="mobile-menu-button" ng-click="toggleSidenavMobile()" ng-controller="MainController" class="md-icon-button" aria-label="Toggle navigation menu">
                            <md-icon>menu</md-icon>
                        </md-button>
                    </a>
                </div>
            </md-toolbar>
            <md-content id="content-and-sidenav-wrapper">
                <div id="site-sidenav-wrapper" style="background: #{{state.currentUser.color}}!important">
                    <div id="site-sidenav-scroll-wrapper">
                        <div id="site-sidenav" ng-if="showNavigation" role="navigation" class="slimScrollBar">
                            <ul id="sidenav-list">
                                <li ng-repeat="section in Menu.sections" class="parent-list-item {{section.className || ''}}" ng-class="{'parentActive' : isSectionSelected(section)}" md-colors="{background: productionEnvironment ? '' : 'accent-50'}">
                                    <menu-link section="section" is-child="false" ng-if="section.type === 'link' && !section.hidden"></menu-link>
                                    <menu-toggle section="section" ng-if="section.type === 'toggle' && !section.hidden"></menu-toggle>
                                    <ul ng-if="section.children">
                                        <li ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}">
                                            <menu-link section="child" is-child="true" ng-if="child.type === 'link'"></menu-link>
                                            <menu-toggle section="child" ng-if="child.type === 'toggle'"></menu-toggle>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div id="repr-link-wrapper">
                                <md-button ng-show="!!state.currentUser && state.currentUser.type !== 'OPPUR_K'" href="/#/studentrepresentatives/applications/new?_menu" id="repr-link">{{'home.represantiveApplication' | translate}} </md-button>
                            </div>
                            <hr class="mobile-sidenav-separator">
                            <div id="mobile-help-menu">
                                <md-button ng-click="toggleMobileSubMenu('help')" id="mobile-help-menu-button">
                                    {{ 'home.help' | translate }} <md-icon md-font-set="material-icons" id="mobile-help-menu-icon">expand_less</md-icon>
                                </md-button>
                                <div id="mobile-help-menu-content">
                                    <md-button href="https://projektid.edu.ee/display/IS2/KASUTUSJUHENDID" target="_blank">{{ 'home.instructions' | translate }}</md-button>
                                    <md-button ng-click="openSchoolContacts()" ng-show="state.currentUser.school">{{ 'home.schoolContacts' | translate }}</md-button>
                                    <!--            <md-button href="">{{ 'home.tahvelHelp' | translate }}</md-button>-->
                                </div>
                            </div>
                            <div id="mobile-role-menu" ng-controller="LoginController" ng-show="state.currentUser">
                                <md-button ng-click="toggleMobileSubMenu('role')" id="mobile-role-menu-button">
                                    <a ng-href="#/persons/settings" style="color: white">{{ state.currentUser.fullname }}</a>
                                    <div id="mobile-role-menu-role">{{ currentLanguageNameField(state.userWorkplaceObject) }}</div>
                                    <md-icon md-font-set="material-icons" id="mobile-role-menu-icon">expand_less</md-icon>
                                </md-button>
                                <div id="mobile-role-menu-content">
                                    <md-button ng-repeat="user in state.currentUser.users" ng-click="setAndChangeUser(user);">{{currentLanguageNameField(user)}}</md-button>
                                </div>
                            </div>
                            <md-button ng-controller="LoginController" id="mobile-logout" ng-click="logout()" ng-show="state.currentUser">{{ 'main.logOut' | translate }}</md-button>
                            <div ng-show="!state.currentUser">
                                <img id="eu-logo" src="images/eu_logo_ja_lipp.3b397534.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <md-content id="main-content" ng-view="" tabindex="-1" role="main" ng-class="{'new-ui-background': hideBackground()}"></md-content>
            </md-content>
            <div id="footer" ng-if="showNavigation" role="contentinfo">
                <div id="footer-content" layout-align="center center">
                    <div class="footer-item">
                        <a href="mailto:tahvel@tugi.edu.ee">tahvel@tugi.edu.ee</a>
                    </div>
                    <div class="footer-item">
                        <a ng-click="openTerms()" tabindex="0">{{'home.terms' | translate}}</a>
                    </div>
                    <div class="footer-item">
                        <span>{{::TAHVEL_VERSION}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="script-container">
            <script src="scripts/vendor.ef157e5e.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.10/locales/et.global.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.10/locales/en-gb.global.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/multimonth@6.1.10/index.global.js"></script>
            <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
            <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
            <script src="scripts/scripts.f858c114.js"></script>
            <script type="text/javascript" src="https://inaadress.maaamet.ee/inaadress/js/inaadress.min.js"></script>
            <script src="config.js"></script>
        </div>
    </body>
</html>
